body {
  color: white;
  font-family: 'Microsoft JhengHei';
  background: #232526;
  background: linear-gradient(to right, #414345, #232526);
}

.my-btn-lg {
	margin: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;	
	height: 100px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid #FFF;
}